body {
  padding:0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Pangolin', cursive;
  cursor: url("capy.gif"), auto;
}

button, input{
  background: white;
  border-radius: 5px;
  border-width: 1px;
  border-color: #aa2ee6;
  color: #aa2ee6;
  font-size: small;
  font-family: 'Pangolin', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
